/* 
font-family: 'IBM Plex Mono', monospace;

font-family: 'Righteous', cursive;

font-family: 'Roboto Mono', monospace;

font-family: 'Teko', sans-serif; 

font-family: 'Rubik Iso', cursive;

font-family: 'Tilt Warp', cursive;

font-family: 'Titillium Web', sans-serif;
*/

:root {
    --dark-bg: #242424;
    --darker-bg:#000;
    --gray-bg: #575757;
    --light-text: #e2e2e2;
    --dark-text: #242424;
    --highlight: #ff5100;
    --highlight2: #00AEFF;
    --highlight3: #FF0032;
    --highlight4: #00FFFB;
    --highlight5: #a70021;
}

.icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.body {
    background-color: #000000;
    font-size: calc((.9 - 1) * 1.2vw + 1rem);
    font-family: 'IBM Plex Mono', monospace;
}

/* video page */

.bg-vid {
    background-color: var(--gray-bg);
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: opacity(30%);
    transform: scale(1.1);
}

.vid-text {
    color: var(--light-text);
    position: relative;
    height: 50vh;
    text-align: center;
    display: block; 
    align-items: center;
    justify-content: center;
    padding-top: 35vh;
    font-size: 2.5rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

.lander-text-header {
    color: var(--highlight);
    font-weight: 700;
    font-size: 4.5rem;
    padding-bottom: 1rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

/* logo stuff */

.logo-img-header {
    height: 22vh;
    padding-top: 1rem;
    padding-bottom: 1.5%;
    position: fixed;
}

.logo-img-header-landing {
    height: 22vh;
    padding-top: 1rem;
    padding-bottom: 0rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

.landing-logo {
    animation-duration: 1.5s;
    animation-name: move1;
}

/* logo stuff */

.enter-text {
    color: var(--highlight);
    font-family: 'Titillium Web', sans-serif;
    font-size: 4.5rem;
    padding-top: 1rem;
    text-decoration: none;
    animation-duration: 3s;
    animation-name: landinganim;
}

.enter-text:hover {
    color: var(--highlight2);
}

@keyframes landinganim {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* landing/home page */

.landing {
    background-image: url(../media/drawpole.png);
    width: 100vw;
    height: 100vh;
    background-position: 15%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.nav-wrapper {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    top: 12rem;
    width: 12vw;
    position: fixed;
}

.nav-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.nav-wrapper-inner a {
    color: var(--dark-text);
    display: block;
    text-decoration: none;
}

.nav-link1:hover {
    color: var(--highlight);
}

.nav-link2:hover {
    color: var(--highlight3);
}

.social-section {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-bottom: 1rem;
    top: 27.5rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
    position: fixed;
}

.social-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.socials-header {
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    font-family: 'Titillium Web', sans-serif;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.socials-header:hover {
    color: var(--highlight3);
}

.social-icons {
    font-size: 0.8rem;
}

.icon {
    color: var(--dark-text);
    margin-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon1:hover {
    color: var(--highlight);
}

.icon2:hover {
    color: var(--highlight3);
}

.lang-select {
    background-color: var(--light-text);
    border: var(--dark-text) 1px solid;
    box-shadow: 5px 5px 0px #242424;
    top: 36.3rem;
    width: 5vw;
    position: fixed;
}

.landing-lang {
    animation-duration: 1.5s;
    animation-name: move1;
}

.flag-css {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.flag-css:hover {
    text-decoration: underline; 
    text-decoration-color: var(--highlight);
}

.colophon {
    background-color: var(--light-text);
    border: var(--dark-text) 1px solid;
    box-shadow: 5px 5px 0px #242424;
    color: var(--dark-text);
    top: 40.7rem;
    width: 15vw;
    position: fixed;
}

.colo-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.copy-text {
    font-size: calc((0.8 - 1) * 1.2vw + 1rem);
    padding: 0.2rem;
}

.copysign {
    color: var(--highlight2);
}

.walrus a{
    color: var(--highlight);
    text-decoration: none;
}

.walrus a:hover {
    color: var(--highlight3);
}

@keyframes move1 {
    from {
        transform: translateX(-60rem);
        opacity: 0%;
    }

    to {
        transform: translateX(0rem);
        opacity: 100%;
    }
}

/* about page */
.about {
    background-image: url(../media/drawdinner.png);
    width: 99vw;
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.about-highlight-span {
    color: var(--highlight);
}

.about-header {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.about-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--dark-bg);
    position: relative;
    z-index: 2;
}

.about-text {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.nono-doodle {
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    width: 45vw;
    z-index: 1;
}

/* art page */
.art {
    background-image: url(../media/drawstairs.png);
    width: 99vw;
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.art-highlight-span {
    color: var(--highlight5);
}

.art-nav-wrapper, .art-social-section{
    box-shadow: 10px 8px 0px var(--highlight5);
    border: var(--highlight3) 1px solid;
}

.art-colophon, .art-lang-sec {
    border: var(--highlight3) 1px solid;
    box-shadow: 5px 5px 0px var(--highlight5);
}

.art-header {
    background-color: var(--light-text);
    border: var(--highlight5) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight5);
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.art-info {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--highlight5);
    position: relative;
    z-index: 2;
}

.art-text {
    background-color: var(--light-text);
    border: var(--highlight5) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.art-span a{
    color: var(--highlight5);
    text-decoration: none;
}

.art-span a:hover {
    color: var(--highlight2);
}

.art-conts-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    background-color: var(--light-text);
    box-shadow: 10px 8px 0px #a70021;
    border: var(--highlight5) 1px solid;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.art-img-sep {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.art-img {
    border: 1px solid var(--darker-bg);
    cursor: pointer;
}

.art-img:hover {
    opacity: 0.9;
}

.mike-drawing {
    width: 112vw;
}

.nono-doodle2, .nono-doodle3 {
    transform: scaleX(-1);
}

/* games page */
.games {
    width: 99vw;
    background-image: url(../media/gamestempbg.jpg);
    background-size: 100%;
    background-position: 15%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.games-highlight-span {
    color: var(--highlight);
}

.games-nav-wrapper, .games-social-section {
    border: var(--highlight) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight);
}

.games-colophon, .games-lang-sec {
    border: var(--highlight) 1px solid;
    box-shadow: 5px 5px 0px var(--highlight);
}

.games-header {
    background-color: var(--light-text);
    border: var(--highlight) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight);
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.games-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--highlight);
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}

.games-text {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.gametitle {
    font-weight: 800;
    text-decoration: underline;
}

.gametitle:hover {
    color: #ff5100;
}

.games-img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    width: 20vw;
}

.games-img2 {
    padding-bottom: 2rem;
}

.concept-title {
    color: var(--highlight);
    text-decoration: underline;
}

.concept-title:hover {
    color: var(--highlight3);
}

/* jp page */
.jp {
    width: 99vw;
    background-image: url(../media/jptempbg.jpg);
    background-size: 100%;
    background-position: 15%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.jp-highlight-span {
    color: var(--highlight3);
}

.jp-header {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.jp-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px #242424;
    position: relative;
    z-index: 2;
}

.jp-text {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.nono-doodle4 {
    top: 0.5rem;
    right: 0rem;
    transform: scaleX(-1);
}

/* webdev page */
.webdev {
    width: 99vw;
    background-image: url(../media/webdevtempbg.jpg);
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.webdev-highlight-span {
    color: var(--highlight);
}

.webdev-nav-wrapper, .webdev-social-section {
    border: var(--light-text) 1px solid;
    box-shadow: 10px 8px 0px var(--light-text);
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.webdev-colophon, .webdev-lang-sec {
    border: var(--light-text) 1px solid;
    box-shadow: 5px 5px 0px var(--light-text);
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.webdev-nav-wrapper a, .webdev-social-section a, .webdev-icon {
    color: var(--light-text);
}

.webdev-header {
    background-color: var(--dark-bg);
    border: var(--light-text) 1px solid;
    box-shadow: 10px 8px 0px var(--light-text);
    color: var(--light-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.webdev-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--light-text);
    position: relative;
    z-index: 2;
}

.webdev-text {
    background-color: var(--dark-bg);
    border: var(--light-text) 1px solid;
    color: var(--light-text);
    padding-left: 1rem;
}

.webdev-sites {
    width: calc((40 - 1) * 1.2vw + 1rem);
    color: var(--light-text);
    background-color: var(--dark-bg);
    box-shadow: 10px 8px 0px #e2e2e2;
    border: var(--light-text) 1px solid;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.dev-img {
    cursor: pointer;
}

.dev-img:hover {
    opacity: 0.9;
}

.site-desc {
    border: 2px solid var(--gray-bg);
    border-top: none;
    font-size: calc((1 - 1) * 1.2vw + 1rem);
}

.site-link {
    color: var(--light-text);
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    text-decoration: none;
}

.site-link:hover {
    color: var(--highlight);
    text-decoration: underline;
}