/* 
font-family: 'IBM Plex Mono', monospace;

font-family: 'Righteous', cursive;

font-family: 'Roboto Mono', monospace;

font-family: 'Teko', sans-serif; 

font-family: 'Rubik Iso', cursive;

font-family: 'Tilt Warp', cursive;

font-family: 'Titillium Web', sans-serif;
*/

:root {
    --dark-bg: #242424;
    --darker-bg:#000;
    --gray-bg: #575757;
    --light-text: #e2e2e2;
    --dark-text: #242424;
    --highlight: #ff5100;
    --highlight2: #00AEFF;
    --highlight3: #FF0032;
    --highlight4: #00FFFB;
    --highlight5: #a70021;
}

.icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.body {
    background-color: #000000;
    font-size: calc((.9 - 1) * 1.2vw + 1rem);
    font-family: 'IBM Plex Mono', monospace;
}

/* video page */

.bg-vid {
    background-color: var(--gray-bg);
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: opacity(30%);
    transform: scale(1.1);
}

.vid-text {
    color: var(--light-text);
    position: relative;
    height: 50vh;
    text-align: center;
    display: block; 
    align-items: center;
    justify-content: center;
    padding-top: 35vh;
    font-size: 2.5rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

.lander-text-header {
    color: var(--highlight);
    font-weight: 700;
    font-size: 4.5rem;
    padding-bottom: 1rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

/* logo stuff */

.logo-img-header {
    height: 22vh;
    padding-top: 1rem;
    padding-bottom: 1.5%;
    position: fixed;
}

.logo-img-header-landing {
    height: 22vh;
    padding-top: 1rem;
    padding-bottom: 0rem;
    animation-duration: 3.0s;
    animation-name: landinganim;
}

.landing-logo {
    animation-duration: 1.5s;
    animation-name: move1;
}

/* logo stuff */

.enter-text {
    color: var(--highlight);
    font-family: 'Titillium Web', sans-serif;
    font-size: 4.5rem;
    padding-top: 1rem;
    text-decoration: none;
    animation-duration: 3s;
    animation-name: landinganim;
}

.enter-text:hover {
    color: var(--highlight2);
}

@keyframes landinganim {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* landing/home page */

.landing {
    background-image: url(../media/pagebgs/landingbg.png);
    width: 99vw;
    height: 100vh;
    background-position: 15%;
    background-size: 100%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.nav-wrapper {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    top: 12rem;
    width: 12vw;
    position: fixed;
}

.nav-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.nav-wrapper-inner a {
    color: var(--dark-text);
    display: block;
    text-decoration: none;
}

.nav-link1:hover {
    color: var(--highlight);
}

.nav-link2:hover {
    color: var(--highlight3);
}

.social-section {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-bottom: 1rem;
    top: 27.5rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
    position: fixed;
}

.social-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.socials-header {
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    font-family: 'Titillium Web', sans-serif;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.socials-header:hover {
    color: var(--highlight3);
}

.social-icons {
    font-size: 0.8rem;
}

.icon {
    color: var(--dark-text);
    margin-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon1:hover {
    color: var(--highlight);
}

.icon2:hover {
    color: var(--highlight3);
}

.lang-select {
    background-color: var(--light-text);
    border: var(--dark-text) 1px solid;
    box-shadow: 5px 5px 0px #242424;
    top: 36.3rem;
    width: 5vw;
    position: fixed;
}

.landing-lang {
    animation-duration: 1.5s;
    animation-name: move1;
}

.flag-css {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.flag-css:hover {
    text-decoration: underline; 
    text-decoration-color: var(--highlight);
}

.colophon {
    background-color: var(--light-text);
    border: var(--dark-text) 1px solid;
    box-shadow: 5px 5px 0px #242424;
    color: var(--dark-text);
    top: 40.7rem;
    width: 15vw;
    position: fixed;
}

.colo-landing {
    animation-duration: 1.5s;
    animation-name: move1;
}

.copy-text {
    font-size: calc((0.8 - 1) * 1.2vw + 1rem);
    padding: 0.2rem;
}

.copysign {
    color: var(--highlight2);
}

.walrus a{
    color: var(--highlight);
    text-decoration: none;
}

.walrus a:hover {
    color: var(--highlight3);
}

@keyframes move1 {
    from {
        transform: translateX(-60rem);
        opacity: 0%;
    }

    to {
        transform: translateX(0rem);
        opacity: 100%;
    }
}

/* about page */
.about {
    background-image: url(../media/pagebgs/aboutbg.png);
    width: 99vw;
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.about-highlight-span {
    color: var(--highlight);
}

.about-header {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.about-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--dark-bg);
    position: relative;
    z-index: 2;
}

.about-text {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.nono-doodle {
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    width: 45vw;
    z-index: 1;
}

/* art page */
.art {
    background-image: url(../media/pagebgs/artbg.png);
    width: 99vw;
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.art-highlight-span {
    color: var(--highlight5);
}

.art-nav-wrapper, .art-social-section{
    box-shadow: 10px 8px 0px var(--highlight5);
    border: var(--highlight3) 1px solid;
}

.art-colophon, .art-lang-sec {
    border: var(--highlight3) 1px solid;
    box-shadow: 5px 5px 0px var(--highlight5);
}

.art-header {
    background-color: var(--light-text);
    border: var(--highlight5) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight5);
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.art-info {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--highlight5);
    position: relative;
    z-index: 2;
}

.art-text {
    background-color: var(--light-text);
    border: var(--highlight5) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.art-span a{
    color: var(--highlight5);
    text-decoration: none;
}

.art-span a:hover {
    color: var(--highlight2);
}

.art-conts-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    background-color: var(--light-text);
    box-shadow: 10px 8px 0px #a70021;
    border: var(--highlight5) 1px solid;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.art-img-sep {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.art-img {
    border: 1px solid var(--darker-bg);
    cursor: pointer;
}

.art-img:hover {
    opacity: 0.9;
}

.mike-drawing {
    width: 112vw;
}

.nono-doodle2, .nono-doodle3 {
    transform: scaleX(-1);
}

/* games page */
.games {
    width: 99vw;
    background-image: url(../media/pagebgs/gamestempbg.png);
    background-size: 100%;
    background-position: 15%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.games-highlight-span {
    color: var(--highlight);
}

.games-nav-wrapper, .games-social-section {
    border: var(--highlight) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight);
}

.games-colophon, .games-lang-sec {
    border: var(--highlight) 1px solid;
    box-shadow: 5px 5px 0px var(--highlight);
}

.games-header {
    background-color: var(--light-text);
    border: var(--highlight) 1px solid;
    box-shadow: 10px 8px 0px var(--highlight);
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.games-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--highlight);
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}

.games-text {
    background-color: var(--light-text);
    border: var(--highlight) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.gametitle {
    font-weight: 800;
    text-decoration: underline;
}

.gametitle:hover {
    color: #ff5100;
}


.se-games-img {
    width: 90vw;
    margin-bottom: 2rem;
    cursor: pointer;
    border-top: 1px var(--highlight) solid;
    border-left: 1px var(--highlight) solid;
    border-bottom: 1px var(--highlight) solid;
}

.se-games-img:hover {
    border-top: 1px var(--highlight3) solid;
    border-left: 1px var(--highlight3) solid;
    border-bottom: 1px var(--highlight3) solid;
}

.rq-games-img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 2rem;
    width: 20vw;
    cursor: pointer;
    border: 1px var(--highlight) solid;
    margin-left: 0.5rem;
}

.rq-games-img2 {
    margin-bottom: 2rem;
    cursor: pointer;
    border-top: 1px var(--highlight) solid;
    border-left: 1px var(--highlight) solid;
    border-bottom: 1px var(--highlight) solid;
}

.rq-games-img:hover {
    border: 1px var(--highlight3) solid;
}

.rq-games-img2:hover {
    border-top: 1px var(--highlight3) solid;
    border-left: 1px var(--highlight3) solid;
    border-bottom: 1px var(--highlight3) solid;
}

.concept-title {
    color: var(--highlight);
    text-decoration: underline;
}

.concept-title:hover {
    color: var(--highlight3);
}

/* jp page */
.jp {
    width: 99vw;
    height: 100vh;
    background-image: url(../media//pagebgs/jptempbg.jpg);
    background-size: 100%;
    background-position: 15%;
    background-attachment: fixed;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.jp-highlight-span {
    color: var(--highlight3);
}

.jp-header {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    box-shadow: 10px 8px 0px #242424;
    color: var(--dark-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.jp-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px #242424;
    position: relative;
    z-index: 2;
}

.jp-text {
    background-color: var(--light-text);
    border: var(--darker-bg) 1px solid;
    color: var(--dark-text);
    padding-left: 1rem;
}

.nono-doodle4 {
    top: 0.5rem;
    right: 0rem;
    transform: scaleX(-1);
}

/* webdev page */
.webdev {
    width: 99vw;
    background-image: url(../media/pagebgs/webdevtempbg.jpg);
    background-position: 15%;
    background-attachment: fixed;
    background-size: 100%;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}

.webdev-highlight-span {
    color: var(--highlight);
}

.webdev-nav-wrapper, .webdev-social-section {
    border: var(--light-text) 1px solid;
    box-shadow: 10px 8px 0px var(--light-text);
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.webdev-colophon, .webdev-lang-sec {
    border: var(--light-text) 1px solid;
    box-shadow: 5px 5px 0px var(--light-text);
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.webdev-nav-wrapper a, .webdev-social-section a, .webdev-icon {
    color: var(--light-text);
}

.webdev-header {
    background-color: var(--dark-bg);
    border: var(--light-text) 1px solid;
    box-shadow: 10px 8px 0px var(--light-text);
    color: var(--light-text);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 11.3rem;
    width: calc((14 - 1) * 1.2vw + 1rem);
}

.webdev-info-div {
    width: calc((40 - 1) * 1.2vw + 1rem);
    box-shadow: 10px 8px 0px var(--light-text);
    position: relative;
    z-index: 2;
}

.webdev-text {
    background-color: var(--dark-bg);
    border: var(--light-text) 1px solid;
    color: var(--light-text);
    padding-left: 1rem;
}

.webdev-sites {
    width: calc((40 - 1) * 1.2vw + 1rem);
    color: var(--light-text);
    background-color: var(--dark-bg);
    box-shadow: 10px 8px 0px #e2e2e2;
    border: var(--light-text) 1px solid;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.dev-img {
    cursor: pointer;
}

.dev-img:hover {
    opacity: 0.9;
}

.site-desc {
    border: 2px solid var(--gray-bg);
    border-top: none;
    font-size: calc((1 - 1) * 1.2vw + 1rem);
}

.site-link {
    color: var(--light-text);
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    text-decoration: none;
}

.site-link:hover {
    color: var(--highlight);
    text-decoration: underline;
}

/* nav for small things */
@media screen and (min-width:5rem) {
    /* landing page */
    .landing-nav {
        display: none;
    }

    .landing {
        display: none;
    }

    .landing-small {
        background-image: url(../media/pagebgs/landingbg.png);
        background-position: 40%;
        background-size: 450%;
        height: 100vh;
    }

    .logo-img-header-small {
        margin-bottom: 5%;
        width: 12rem;
    }

    .nav-section-small {
        font-family: 'Titillium Web', sans-serif;
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
        width: 10rem;
    }

    .social-section-small {
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
    }

    .lang-select-small {
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
    }

    .colophon-small {
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
        padding-top: 1%;
    }

    .copy-text-small {
        font-size: calc((0.2 - 1) * 1.2vw + 1rem);
    }

    /* small header */

    .header-small {
        background-color: var(--light-text);
        border-bottom: var(--dark-bg) 2px solid;
        width: 100vw;
    }

    .logo-img-header-small-about {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 5rem;
    }

    .nav-wrapper-small-about {
        position: absolute;
        background-color: var(--dark-bg);
        color: var(--light-text);
        width: 100vw;
    }

    .nav-wrapper-inner-small-about a{
        color: var(--light-text);
        font-size: calc((8 - 1) * 1.2vw + 1rem);
        display: block;
        text-decoration: none;
    }

    .lang-section-small-header {
        margin-right: 2.5rem;
    }

    .lang-section-small-header a {
        color: var(--dark-bg);
        margin-top: 2rem;
    }

    .flag-css:hover {
        color: var(--dark-bg);
    }

    /* THE BURGER */

    .hamburger-small {
        transform:translate(-50%, -20%);
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .burger-button {
        background-color: transparent;
        border: none;
        margin-left: 1rem;
        margin-top: 1.5rem;
        cursor: pointer;
    }

    .burger-line {
        display: block;
        background-color: var(--dark-bg);
        height: 10px;
        width: 45px;
        margin-top: 7px;
    }

    .burger-button .burger-line {
        position: absolute;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    }

    .burger-button .burger-line:nth-child(1) {
        top: 40px;
        left: 0px;
    }

    .burger-button .burger-line:nth-child(2) {
        top: 56px;
        left: 0px;
    }

    .burger-button .burger-line:nth-child(3) {
        top: 72px;
        left: 0px;
    }

    .burger-button:not(.open):hover .burger-line:nth-child(1) {
        transform: scaleX(.9);
    }

    .burger-button:not(.open):hover .burger-line:nth-child(2) {
        transform: scaleX(.7);
    }

    .burger-button:not(.open):hover .burger-line:nth-child(3) {
        transform: scaleX(.9);
    }

    .burger-button.open .burger-line:nth-child(1) {
        transform: rotate(90deg);
        top: 56px;
    }

    .burger-button.open .burger-line:nth-child(2) {
        transform: scale(0);
        transition-duration: 50ms;
    }

    .burger-button.open .burger-line:nth-child(3) {
        top: 56px;
    }

    /* about page */
    .about {
        display: none;
    }

    .about-small {
        display: block;
        background-image: url(../media/pagebgs/aboutbg.png);
        background-position: 21%;
        background-attachment: fixed;
        background-size: 550%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .about-header-small {
        background-color: var(--light-text);
        border: var(--dark-bg) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .about-info-div-small {
        padding-top: 2rem;
    }

    .about-email a{
        text-decoration: none;
        color: var(--highlight);
    }

    .about-email a:hover {
        color: var(--highlight3);
    }

    /* art page */

    .art {
        display: none;
    }

    .art-small {
        display: block;
        background-image: url(../media/pagebgs/artbg.png);
        background-position: 60%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .art-burger-line {
        background-color: var(--highlight5);
    }

    .art-header-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .art-text-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
        color: var(--dark-text);
        padding-left: 1rem;
    }

    .art-info-small {
        margin-top: 1rem;
    }

    .art-conts-div-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
    }

    .header-art-small {
        border-bottom: 1px solid var(--highlight5);
    }

    .colophon-small-art {
        border-top: var(--highlight5) solid 1px;
        margin-top: 1rem;
        color: var(--highlight5);
    }

    .icon-art-small {
        color: var(--highlight5);
    }

    /* games */

    .games {
        display: none;
    }

    .games-small {
        display: block;
        background-image: url(../media/pagebgs/gamestempbg.png);
        background-position: 45%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .games-header-small {
        background-color: var(--light-text);
        border: var(--highlight) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .games-info-div-small {
        background-color: var(--light-text);
        border: var(--highlight) 1px solid;
        margin-top: 2rem;
        padding: 7px;
    }

    .header-games-small {
        border-bottom: 1px solid var(--highlight);
    }

    .games-burger-line {
        background-color: var(--highlight);
    }

    .colophon-small-games {
        border-top: 1px solid var(--highlight);
        color: var(--highlight);
        margin-top: 2rem;
    }

    .icon-games-small {
        color: var(--highlight);
    }

    .walrus-games a{
        color: var(--highlight3);
    }

    /* jp */

    .jp {
        display: none;
    }

    .jp-small {
        display: block;
        background-image: url(../media/pagebgs/jptempbg.jpg);
        background-position: 50%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .jp-header-small {
        background-color: var(--light-text);
        border: var(--highlight3) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .jp-info-div-small {
        border: 1px solid var(--highlight3);
        background-color: var(--light-text);
        margin-top: 2rem;
        padding: 7px;
    }

    .colophon-small-jp {
        color: var(--highlight3);
        border-top: 1px solid var(--highlight3);
        margin-top: 2rem;
    }

    .header-jp-small {
        border-bottom: 1px solid var(--highlight3);
    }

    .icon-jp-small {
        color: var(--highlight3);
    }

    .jp-burger-line {
        background-color: var(--highlight3);
    }

    /* webdev */
    .webdev {
        display: none;
    }

    .webdev-small {
        display: block;
        background-image: url(../media/pagebgs/webdevtempbg.jpg);
        background-position: 50%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .webdev-header-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .webdev-text-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .webdev-sites-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .colophon-small-webdev {
        background-color: var(--dark-bg);
        border-top: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
    }

    .icon-webdev-small {
        color: var(--light-text);
    }

    .header-webdev-small {
        background-color: var(--dark-bg);
        border-bottom: var(--light-text) 1px solid;
        color: var(--light-text);
    }

    .webdev-burger-line {
        background-color: var(--light-text);
    }

    /* video page */
    .landing-vid {
        display: none;
    }

    .landing-vid-small {
        display: block;
        padding: 0;
        margin-top: -5rem;
    }

    .bg-vid-small {
        background-color: var(--gray-bg);
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        filter: opacity(30%);
        transform: scale(1);
    }

    .lander-text-header-small {
        color: var(--light-text);
        font-size: calc((11 - 1) * 1.2vw + 1rem);
    }

    .lander-text-desc-small {
        color: var(--highlight);
        font-size: calc((5 - 1) * 1.2vw + 1rem);
    }

    .enter-text-small {
        color: var(--highlight);
    }

    .lander-text-desc-smalll {
        font-size: calc((7 - 1) * 1.2vw + 1rem);
    }
}

/* !nav! break point for 883px (galaxy 20) */
@media screen and (min-width: 25rem) {

    /* landing page */
    .landing-nav {
        display: none;
    }

    .landing {
        display: none;
    }

    .landing-small {
        background-image: url(../media/pagebgs/landingbg.png);
        background-position: 40%;
        background-size: 450%;
        height: 100vh;
    }

    .logo-img-header-small {
        margin-bottom: 5%;
        width: 12rem;
    }

    .nav-section-small {
        font-family: 'Titillium Web', sans-serif;
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
        width: 10rem;
    }

    .social-section-small {
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
    }

    .lang-select-small {
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin-bottom: 5%;
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
    }

    .colophon-small {
        background-color: var(--light-text);
        border: var(--dark-text) 1px solid;
        box-shadow: 5px 5px 0px #242424;
        color: var(--dark-text);
        padding-top: 1%;
    }

    .copy-text-small {
        font-size: calc((0.2 - 1) * 1.2vw + 1rem);
    }

    /* small header */

    .header-small {
        background-color: var(--light-text);
        border-bottom: var(--dark-bg) 2px solid;
        width: 100vw;
    }

    .logo-img-header-small-about {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 5rem;
    }

    .nav-wrapper-small-about {
        position: absolute;
        background-color: var(--dark-bg);
        color: var(--light-text);
        width: 100vw;
    }

    .nav-wrapper-inner-small-about a{
        color: var(--light-text);
        font-size: calc((8 - 1) * 1.2vw + 1rem);
        display: block;
        text-decoration: none;
    }

    .lang-section-small-header {
        margin-right: 2.5rem;
    }

    .lang-section-small-header a {
        color: var(--dark-bg);
        margin-top: 2rem;
    }

    .flag-css:hover {
        color: var(--dark-bg);
    }

    /* THE BURGER */

    .hamburger-small {
        transform:translate(-50%, -20%);
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .burger-button {
        background-color: transparent;
        border: none;
        margin-left: 1rem;
        margin-top: 1.5rem;
        cursor: pointer;
    }

    .burger-line {
        display: block;
        background-color: var(--dark-bg);
        height: 10px;
        width: 45px;
        margin-top: 7px;
    }

    .burger-button .burger-line {
        position: absolute;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    }

    .burger-button .burger-line:nth-child(1) {
        top: 40px;
        left: 0px;
    }

    .burger-button .burger-line:nth-child(2) {
        top: 56px;
        left: 0px;
    }

    .burger-button .burger-line:nth-child(3) {
        top: 72px;
        left: 0px;
    }

    .burger-button:not(.open):hover .burger-line:nth-child(1) {
        transform: scaleX(.9);
    }

    .burger-button:not(.open):hover .burger-line:nth-child(2) {
        transform: scaleX(.7);
    }

    .burger-button:not(.open):hover .burger-line:nth-child(3) {
        transform: scaleX(.9);
    }

    .burger-button.open .burger-line:nth-child(1) {
        transform: rotate(90deg);
        top: 56px;
    }

    .burger-button.open .burger-line:nth-child(2) {
        transform: scale(0);
        transition-duration: 50ms;
    }

    .burger-button.open .burger-line:nth-child(3) {
        top: 56px;
    }

    .nav-link1-small:hover {
        color: var(--highlight);
    }
    
    .nav-link2-small:hover {
        color: var(--highlight3);
    }

    /* about page */
    .about {
        display: none;
    }

    .about-small {
        display: block;
        background-image: url(../media/pagebgs/aboutbg.png);
        background-position: 21%;
        background-attachment: fixed;
        background-size: 550%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .about-header-small {
        background-color: var(--light-text);
        border: var(--dark-bg) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .about-info-div-small {
        padding-top: 2rem;
    }

    /* art page */

    .art {
        display: none;
    }

    .art-small {
        display: block;
        background-image: url(../media/pagebgs/artbg.png);
        background-position: 60%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .art-burger-line {
        background-color: var(--highlight5);
    }

    .art-header-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .art-text-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
        color: var(--dark-text);
        padding-left: 1rem;
    }

    .art-info-small {
        margin-top: 1rem;
    }

    .art-conts-div-small {
        background-color: var(--light-text);
        border: var(--highlight5) 1px solid;
    }

    .header-art-small {
        border-bottom: 1px solid var(--highlight5);
    }

    .colophon-small-art {
        border-top: var(--highlight5) solid 1px;
        margin-top: 1rem;
        color: var(--highlight5);
    }

    .icon-art-small {
        color: var(--highlight5);
    }

    /* games */

    .games {
        display: none;
    }

    .games-small {
        display: block;
        background-image: url(../media/pagebgs/gamestempbg.png);
        background-position: 45%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .games-header-small {
        background-color: var(--light-text);
        border: var(--highlight) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .games-info-div-small {
        background-color: var(--light-text);
        border: var(--highlight) 1px solid;
        margin-top: 2rem;
        padding: 7px;
    }

    .header-games-small {
        border-bottom: 1px solid var(--highlight);
    }

    .games-burger-line {
        background-color: var(--highlight);
    }

    .colophon-small-games {
        border-top: 1px solid var(--highlight);
        color: var(--highlight);
        margin-top: 2rem;
    }

    .icon-games-small {
        color: var(--highlight);
    }

    .walrus-games a{
        color: var(--highlight3);
    }

    /* jp */

    .jp {
        display: none;
    }

    .jp-small {
        display: block;
        background-image: url(../media/pagebgs/jptempbg.jpg);
        background-position: 50%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .jp-header-small {
        background-color: var(--light-text);
        border: var(--highlight3) 1px solid;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .jp-info-div-small {
        border: 1px solid var(--highlight3);
        background-color: var(--light-text);
        margin-top: 2rem;
        padding: 7px;
    }

    .colophon-small-jp {
        color: var(--highlight3);
        border-top: 1px solid var(--highlight3);
        margin-top: 2rem;
    }

    .header-jp-small {
        border-bottom: 1px solid var(--highlight3);
    }

    .icon-jp-small {
        color: var(--highlight3);
    }

    .jp-burger-line {
        background-color: var(--highlight3);
    }

    /* webdev */
    .webdev {
        display: none;
    }

    .webdev-small {
        display: block;
        background-image: url(../media/pagebgs/webdevtempbg.jpg);
        background-position: 50%;
        background-attachment: fixed;
        background-size: 370%;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .webdev-header-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
    }

    .webdev-text-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .webdev-sites-small {
        background-color: var(--dark-bg);
        border: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .colophon-small-webdev {
        background-color: var(--dark-bg);
        border-top: var(--light-text) 1px solid;
        color: var(--light-text);
        margin-top: 2rem;
    }

    .icon-webdev-small {
        color: var(--light-text);
    }

    .header-webdev-small {
        background-color: var(--dark-bg);
        border-bottom: var(--light-text) 1px solid;
        color: var(--light-text);
    }

    .webdev-burger-line {
        background-color: var(--light-text);
    }

    /* video page */
    .landing-vid {
        display: none;
    }

    .landing-vid-small {
        display: block;
        padding: 0;
        margin-top: -5rem;
    }

    .bg-vid-small {
        background-color: var(--gray-bg);
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        filter: opacity(30%);
        transform: scale(1);
    }

    .lander-text-header-small {
        color: var(--light-text);
        font-size: calc((11 - 1) * 1.2vw + 1rem);
    }

    .lander-text-desc-small {
        color: var(--highlight);
        font-size: calc((5 - 1) * 1.2vw + 1rem);
    }

    .enter-text-small {
        color: var(--highlight);
    }

    .lander-text-desc-smalll {
        font-size: calc((7 - 1) * 1.2vw + 1rem);
    }
}

/* !nav! break point for 1080p sizes */
@media screen and (min-width: 60rem) {
    .landing-nav {
        display: block;
    }

    .landing {
        display: block;
    }

    .landing-small {
        display: none;
    }

    .logo-img-header {
        height: 22vh;
    }

    .nav-wrapper {
        top: 12rem;
        width: 12vw;
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .social-section {
        top: 27.5rem;
        width: calc((14 - 1) * 1.2vw + 1rem);
    }

    .socials-header {
        font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    }

    .lang-select {
        top: 36.3rem;
        width: 5vw;
    }

    .flag-css {
        font-size: 1.5rem;
    }

    .colophon {
        top: 40.7rem;
        width: 15vw;
    }

    .copy-text {
        font-size: calc((0.8 - 1) * 1.2vw + 1rem);
        padding: 0.2rem;
    }

    .about-small {
        display: none;
    }

    .about {
        display: block;
    }

    .art-small {
        display: none;
    }

    .art {
        display: block;
    }

    .games-small {
        display: none;
    }

    .games {
        display: block;
    }

    .jp-small {
        display: none;
    }

    .jp {
        display: block;
    }

    .webdev-small {
        display: none;
    }

    .webdev {
        display: block;
    }

    .landing-vid-small {
        display: none;
    }

    .landing-vid {
        display: block;
    }
}

/* !nav! break point for 1440p monitors */
@media screen and (min-width: 122rem) {

    .logo-img-header {
        height: 24vh;
    }

    .landing-nav-small {
        display: none;
    }

    .nav-wrapper {
        top: 20.5rem;
        width: 15vw;
        font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    }

    .social-section {
        top: 42rem;
        width: calc((17 - 1) * 1.2vw + 1rem);
    }

    .socials-header {
        font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    }
    
    .social-icons {
        font-size: 0.8rem;
    }

    .lang-select {
        top: 53.4rem;
        width: 8vw;
    }

    .flag-css {
        font-size: 2.5rem;
    }

    .colophon {
        top: 59.5rem;
        width: 17vw;
    }

    .copy-text {
        font-size: calc((1 - 1) * 1.2vw + 1rem);
        padding: 0.4rem;
    }

    .about {
        height: 100vh;
    }

    .jp {
        height: 100vh;
    }
} 

/* !nav! break point for 4k monitors */
@media screen and (min-width: 240rem) {

    .logo-img-header {
        height: 26vh;
    }

    .landing-nav-small {
        display: none;
    }

    .nav-wrapper {
        top: 33.5rem;
        width: 15vw;
        font-size: calc((1.9 - 1) * 1.2vw + 1rem);
    }

    .social-section {
        top: 66rem;
        width: calc((17 - 1) * 1.2vw + 1rem);
    }

    .socials-header {
        font-size: calc((1.9 - 1) * 1.2vw + 1rem);
    }
    
    .social-icons {
        font-size: 1.8rem;
    }

    .lang-select {
        top: 82rem;
        width: 8vw;
    }

    .flag-css {
        font-size: 4.5rem;
    }

    .colophon {
        top: 92.5rem;
        width: 17vw;
    }

    .copy-text {
        font-size: calc((1.23 - 1) * 1.2vw + 1rem);
        padding: 0.4rem;
    }

    .about, .jp {
        height: 100vh;
        font-size: calc((1.8 - 1) * 1.2vw + 1rem);
    }

    .about-header-text, .art-header-text, .games-header-text, .jp-header-text, .webdev-header-text {
        font-size: calc((1.9 - 1) * 1.2vw + 1rem);
    }

    .art, .games, .webdev, .site-header, .site-desc, .site-link {
        font-size: calc((1.8 - 1) * 1.2vw + 1rem);
    }

}